.form__text {
    margin-bottom: 70px;
    width: 100%;
}

input[type=text],
input[type=password] {
    all: unset;
    border: 2px var(--secondary-color-3) solid;
    border-radius: 7px;
    box-sizing: border-box !important;
    padding: 10px;
    width: 100%;
    background-color: var(--secondary-color-1);
}

@media only screen and (max-width: 576px) {
    
    .center-element{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}
